<!-- Signup-->
<section class="signup-section" id="signup">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
                <form action="https://formspree.io/f/xvoeeodb" method="POST" class="form-signup" id="contactForm">
                    <div class="mb-3">
                        <label for="emailAddress" class="form-label text-white">Your email:</label>
                        <input class="form-control" id="emailAddress" type="email" name="email" placeholder="Enter email address..." aria-label="Enter email address..." required>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label text-white">Your message:</label>
                        <textarea class="form-control" id="message" name="message" placeholder="Enter your message..." aria-label="Enter your message..." required></textarea>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-primary" type="submit">Send</button>
                    </div>
                    <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:required">An email is required.</div>
                    <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:email">Email is not valid.</div>
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3 mt-2 text-white">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <div class="d-none" id="submitErrorMessage">
                        <div class="text-center text-danger mb-3 mt-2">Error sending message!</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>