<%- include('../../partials/common/_head.ejs') %>



<!-- Navigation-->
<%- include('../../partials/common/_navbar') %>

<!-- Projects-->
<section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-4 col-lg-5">
                <div class="Page text-lg-left" style="margin-right: 20px;">
                    <p>Jadilah Mentor</p>
                    <p>Bangun Komunitas</p>
                </div> 
                <p class="text-black-50 mb-0">Ayo Mulai Perjalanan Pendidikanmu Sekarang!</p>
                <div class="mt-4 d-flex justify-content-between">
                    <a href="#project_apply">
                        <button type="button" class="btn btn-primary btn-sm me-3 rounded-pill" style="background-color: #00B0FF; color: white;">Apply Now</button>
                    </a>
                    <a href="#project_benefit">
                        <button type="button" class="btn btn-outline-primary btn-sm rounded-pill" style="background-color: #E0E0E0; border-color: #E0E0E0; color: #4a90e2;">Benefit Unggulan</button>
                    </a>
                </div>
                                                                    
            </div>
            <div class="mx-auto text-center col-lg-2">
                <img class="img-fluid mb-3 mb-lg-0 " src="/temp_land_page/assets/ilustration/Page_awal.svg" alt="..." style="max-width: 500px; height: auto;" />
            </div>
        </div>
        <!-- Akhir Featured Project Row-->

        <!-- Ruang antara Featured Project dan Project One -->
        <div class="mb-4 mb-7"></div>
        <!-- Project One Row-->
        <div id="project_benefit" class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-4 col-lg-5">
                <p class="text-success" style="font-size: 1.5rem;">Kapan lagi mencoba !!!</p>
                <div class="Page text-center text-lg-left" style="margin-right: 20px; font-size: 1.8rem;">
                    <p>Temukan potensimu dan </p>
                    <p>wujudkan impianmu!</p>
                </div> 
                <p class="text-black-50 mb-0">Berani mulai, berani mencoba, dan berani untuk menjadi yang lebih baik setiap hari</p>
            </div>
        </div>
        <!-- Akhir Project One Row-->

        <!-- Ruang antara Project One dan Project Two -->
        <div class="mb-4 mb-lg-5"></div>
        <!-- Project Two Row-->
        <div class="row gx-4 mb-4 mb-lg-5 justify-content-center">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <img class="img-fluid mb-3 rounded-circle" src="/temp_land_page/assets/img/Temukan.jpg" alt="Illustration" style="width: 100px; height: 100px;">
                        <h4 class="card-title" style="font-weight: bold;">Temukan Potensimu</h4>
                        <p class="card-text">Eksplorasi peluang belajar, Kembangkan dirimu melalui pengetahuan baru, Dorong kreativitas dengan sumber daya kami</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <img class="img-fluid mb-3 rounded-circle" src="/temp_land_page/assets/img/Join.jpg" alt="Illustration" style="width: 100px; height: 100px;">
                        <h4 class="card-title" style="font-weight: bold;">Bergabunglah dengan Komunitas Belajar</h4>
                        <p class="card-text">Saling mendukung dalam perjalanan pendidikan, Jalin hubungan dengan sesama pembelajar, Bergabunglah dengan jaringan global kami</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <img class="img-fluid mb-3 rounded-circle" src="/temp_land_page/assets/img/Mulailah.jpg" alt="Illustration" style="width: 100px; height: 100px;">
                        <h4 class="card-title" style="font-weight: bold;">Mulailah Perjalanan Pendidikanmu Sekarang</h4>
                        <p class="card-text">Langkah awal menuju kesuksesan, Rencanakan masa depan pendidikanmu, Tersedia untuk membantu mencapai tujuanmu</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Akhir Project Two Row-->

        <!-- Ruang antara  Project Two  dan Project Three -->
        <div class="mb-4 mb-7"></div>

        <!-- Project Three Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-4 col-lg-5">
                <p class="text-success" style="font-size: 1.2rem;">Stori Keberhasilan</p>
                <div class="Page text-lg-left" style="margin-right: 20px; font-size: 1.8rem;">
                    <p>Dari Para Mentor</p>
                </div> 
            </div>
        </div>
        <!-- Akhir Project Three Row-->

        <!-- Ruang antara Project Tree dan Project Four -->
        <div class="mb-4 mb-lg-5"></div>

        <!-- Project Four Row-->
        <div class="row gx-4 mb-4 mb-lg-5 justify-content-center">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body d-flex align-items-center">
                        <img class="img-fluid mb-3 rounded-circle me-3" src="/temp_land_page/assets/img/Mentor1.jpg" alt="Illustration" style="width: 100px; height: 100px;">
                        <div>
                            <h4 class="card-title" style="font-weight: bold;">Akhmad Faiz</h4>
                            <p class="card-text">Product Desainer</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Eksplorasi peluang belajar, Kembangkan dirimu melalui pengetahuan baru, Dorong kreativitas dengan sumber daya kami</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body d-flex align-items-center">
                        <img class="img-fluid mb-3 rounded-circle me-3" src="/temp_land_page/assets/img/Mentor2.jpg" alt="Illustration" style="width: 100px; height: 100px;">
                        <div>
                            <h4 class="card-title" style="font-weight: bold;">Hendro Prasetyo</h4>
                            <p class="card-text">Product Desainer</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Saling mendukung dalam perjalanan pendidikan, Jalin hubungan dengan sesama pembelajar, Bergabunglah dengan jaringan global kami</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body d-flex align-items-center">
                        <img class="img-fluid mb-3 rounded-circle me-3" src="/temp_land_page/assets/img/Mentor3.jpg" alt="Illustration" style="width: 100px; height: 100px;">
                        <div>
                            <h4 class="card-title" style="font-weight: bold;">Aldy Hari P</h4>
                            <p class="card-text">Product Desainer</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Langkah awal menuju kesuksesan, Rencanakan masa depan pendidikanmu, Tersedia untuk membantu mencapai tujuanmu</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body d-flex align-items-center">
                        <img class="img-fluid mb-3 rounded-circle me-3" src="/temp_land_page/assets/img/Mentor4.jpg" alt="Illustration" style="width: 100px; height: 100px;">
                        <div>
                            <h4 class="card-title" style="font-weight: bold;">Fitria Evi</h4>
                            <p class="card-text">Product Desainer</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Eksplorasi peluang belajar, Kembangkan dirimu melalui pengetahuan baru, Dorong kreativitas dengan sumber daya kami</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body d-flex align-items-center">
                        <img class="img-fluid mb-3 rounded-circle me-3" src="/temp_land_page/assets/img/Mentor5.jpg" alt="Illustration" style="width: 100px; height: 100px;">
                        <div>
                            <h4 class="card-title" style="font-weight: bold;">Nafia Fatimah</h4>
                            <p class="card-text">Product Desainer</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Saling mendukung dalam perjalanan pendidikan, Jalin hubungan dengan sesama pembelajar, Bergabunglah dengan jaringan global kami</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body d-flex align-items-center">
                        <img class="img-fluid mb-3 rounded-circle me-3" src="/temp_land_page/assets/img/Mentor6.jpg" alt="Illustration" style="width: 100px; height: 100px;">
                        <div>
                            <h4 class="card-title" style="font-weight: bold;">Bumi Raga</h4>
                            <p class="card-text">Product Desainer</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Langkah awal menuju kesuksesan, Rencanakan masa depan pendidikanmu, Tersedia untuk membantu mencapai tujuanmu</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Akhir Project Four Row-->

        <!-- Ruang antara Project Four dan Project Five -->
        <div class="mb-4 mb-lg-5"></div>

        <!-- Project Five Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-4 col-lg-5">
                <p class="text-success" style="font-size: 1.2rem;">Bagaimana Cara Kerjanya</p>
                <div class="Page text-lg-left" style="margin-right: 20px; font-size: 1.8rem;">
                    <p>Memulai Pengalaman Baru</p>
                    <p>Untuk Masa Depan Yang Baik</p>
                </div> 
            </div>
        </div>
        <!-- Akhir Project Five Row-->
        
        <!-- Ruang antara Project Five dan Project Six -->
        <div class="mb-4 mb-lg-5"></div>

        <!-- Project Six Row-->
        <div class="row gx-4 mb-4 mb-lg-5 justify-content-center">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <img class="img-fluid mb-3 rounded-circle" src="/temp_land_page/assets/ilustration/Create.svg" alt="Illustration" style="width: 100px; height: 100px;">
                        <h4 class="card-title" style="font-weight: bold;">Create a Course</h4>
                        <p class="card-text">Menyiapkan materi kelas Premium sesuai guidelines yang sudah kami sediakan</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <img class="img-fluid mb-3 rounded-circle" src="/temp_land_page/assets/ilustration/Waiting.svg" alt="Illustration" style="width: 100px; height: 100px;">
                        <h4 class="card-title" style="font-weight: bold;">Waiting for Review</h4>
                        <p class="card-text">Kami akan meninjau materi kelas dan memberikan feedback kepada Anda</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <img class="img-fluid mb-3 rounded-circle" src="/temp_land_page/assets/ilustration/Get.svg" alt="Illustration" style="width: 100px; height: 100px;">
                        <h4 class="card-title" style="font-weight: bold;">Get Rewarded</h4>
                        <p class="card-text">Mempublikasikan kelas dan menerima penghasilan setiap kelas terjual</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Akhir Project Six Row-->

        <!-- Ruang antara Project Six dan Project Seven -->
        <div class="mb-4 mb-7"></div>

        <!-- Project Seven Row-->
        <div id="project_apply" class="row justify-content-center mb-4 mb-lg-5">
            <div class="col-xl-4 col-lg-5 text-center mb-4">
                <img class="img-fluid mb-3 rounded-circle" src="/temp_land_page/assets/img/Mentor3.jpg" alt="Illustration" style="width: 150px; height: 150px;">
                <div class="Page text-center" style="margin-right: 20px; font-size: 1.8rem;">
                    <p style="font-size: 2rem; font-weight: bold;">Time to Shine!</p>
                </div> 
                <p style="font-size: 1rem;">Membuat kelas online yang dapat bermanfaat untuk</p>
                <p style="font-size: 1rem;">banyak orang & membangun passive income</p>
                <button type="button" class="btn btn-primary btn-sm me-3 rounded-pill" style="background-color: #00B0FF; color: white;" onclick="window.location.href='/apply'">
                    Continue to Apply
                </button>
            </div>
        </div>
        <!-- Akhir Project Seven Row-->
    </div>
</section>


<!-- Signup-->
<section class="signup-section" id="signup">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form class="form-signup" id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <!-- Email address input-->
                    <div class="row input-group-newsletter">
                        <div class="col"><input class="form-control" id="emailAddress" type="email" placeholder="Enter email address..." aria-label="Enter email address..." data-sb-validations="required,email" /></div>
                        <div class="col-auto"><button class="btn btn-primary disabled" id="submitButton" type="submit">Notify Me!</button></div>
                    </div>
                    <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:required">An email is required.</div>
                    <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:email">Email is not valid.</div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your common will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3 mt-2 text-white">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your common will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3 mt-2">Error sending message!</div></div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Contact-->
<%- include('../../partials/common/_contact') %>

<!-- Footer-->
<%- include('../../partials/common/_footer') %>
