<%- include('../../partials/common/_head.ejs') %>

<!-- Navigation-->
<%- include('../../partials/common/_navbar') %>

<!-- Projects-->
<section class="projects-section" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="gx-0 mb-4 mb-lg-5 text-center">
                <div class="Page text-lg-left text-black" style="margin-right: 20px;">
                    <p>Kelas Online Gratis</p>
                    <p>UI Design : Wireframe to VisualDesign</p>
                </div>
                <p class="text-black mb-0 mt-3">Learn how to build a real project from scratch</p>
                <div class="row">
                    <div class="col">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-tags-fill" viewBox="0 0 16 16">
                            <path d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                            <path d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043z"/>
                        </svg>
                        harga kelas
                    </div>
                    <div class="col">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-tags-fill" viewBox="0 0 16 16">
                            <path d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                            <path d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043z"/>
                        </svg>
                        harga kelas
                    </div>
                </div>

        </div>
        <!-- Akhir Featured Project Row-->

        <!-- Ruang antara Featured Project dan Project One -->
        <div class="mb-4 mb-7"></div>
        <!-- Project One Row-->
        <div id="project_one" class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-4 col-lg-5">
                <p class="text-success" style="font-size: 1.5rem;">Kapan lagi mencoba !!!</p>
                <div class="Page text-center text-lg-left" style="margin-right: 20px; font-size: 1.8rem;">
                    <p>Temukan potensimu dan </p>
                    <p>wujudkan impianmu!</p>
                </div>
                <p class="text-black-50 mb-0">Berani mulai, berani mencoba, dan berani untuk menjadi yang lebih baik setiap hari</p>
            </div>
        </div>
        <!-- Akhir Project One Row-->

        <div class="contentClass">
            <!-- Ruang antara Project One dan Project Two -->
            <div class="mb-4 mb-lg-5"></div>
            <!-- Project Two Row-->
            <div class="row gx-4 mb-4 mb-lg-5 justify-content-center">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="/course" class="card-link">
                            <div class="card-body">
                                <img class="img-fluid mb-3 rounded-circle" src="/temp_land_page/assets/img/Temukan.jpg" alt="Illustration" style="width: 100px; height: 100px;">
                                <h4 class="card-title" style="font-weight: bold;">UI Design : Wireframe to VisualDesign</h4>
                                <p class="card-text">Mulailah menciptakan antarmuka yang menakjubkan dari konsep awal hingga desain visual yang sempurna!</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="/course" class="card-link">
                            <div class="card-body">
                                <img class="img-fluid mb-3 rounded-circle" src="/temp_land_page/assets/img/Join.jpg" alt="Illustration" style="width: 100px; height: 100px;">
                                <h4 class="card-title" style="font-weight: bold;">Learn Figma For Beginner</h4>
                                <p class="card-text">Saling mendukung dalam perjalanan pendidikan, Jalin hubungan dengan sesama pembelajar, Bergabunglah dengan jaringan global kami</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="/course" class="card-link">
                            <div class="card-body">
                                <img class="img-fluid mb-3 rounded-circle" src="/temp_land_page/assets/img/Mulailah.jpg" alt="Illustration" style="width: 100px; height: 100px;">
                                <h4 class="card-title" style="font-weight: bold;">Adobe Illustration: How to create icon for UI</h4>
                                <p class="card-text">Langkah awal menuju kesuksesan, Rencanakan masa depan pendidikanmu, Tersedia untuk membantu mencapai tujuanmu</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Akhir Project Two Row-->
            <!-- Project Three Row-->
            <div class="row gx-4 mb-4 mb-lg-5 justify-content-center hidden-content">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="/course" class="card-link">
                            <div class="card-body">
                                <img class="img-fluid mb-3 rounded-circle" src="/temp_land_page/assets/img/Temukan.jpg" alt="Illustration" style="width: 100px; height: 100px;">
                                <h4 class="card-title" style="font-weight: bold;">UI Design : Wireframe to VisualDesign</h4>
                                <p class="card-text">Mulailah menciptakan antarmuka yang menakjubkan dari konsep awal hingga desain visual yang sempurna!</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="/course" class="card-link">
                            <div class="card-body">
                                <img class="img-fluid mb-3 rounded-circle" src="/temp_land_page/assets/img/Join.jpg" alt="Illustration" style="width: 100px; height: 100px;">
                                <h4 class="card-title" style="font-weight: bold;">Learn Figma For Beginner</h4>
                                <p class="card-text">Saling mendukung dalam perjalanan pendidikan, Jalin hubungan dengan sesama pembelajar, Bergabunglah dengan jaringan global kami</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="/course" class="card-link">
                            <div class="card-body">
                                <img class="img-fluid mb-3 rounded-circle" src="/temp_land_page/assets/img/Mulailah.jpg" alt="Illustration" style="width: 100px; height: 100px;">
                                <h4 class="card-title" style="font-weight: bold;">Adobe Illustration: How to create icon for UI</h4>
                                <p class="card-text">Langkah awal menuju kesuksesan, Rencanakan masa depan pendidikanmu, Tersedia untuk membantu mencapai tujuanmu</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Akhir Project Three Row-->
        </div>
        <!-- load more -->
        <div class="text-center">
            <button type="button" class="btn btn-primary btn-sm me-3 rounded-pill" style="background-color: #00B0FF; color: white;" onclick="showMoreContent()">
                Lihat Selengkapnya
            </button>
        </div>
        <!-- End load more -->

        <!-- Ruang antara Project Six dan Project Seven -->
        <div class="mb-4 mb-7"></div>

        <!-- Project Seven Row-->
        <!-- <div class="row justify-content-center mb-4 mb-lg-5">
            <div class="col-xl-4 col-lg-5 text-center mb-4">
                <img class="img-fluid mb-3 rounded-circle" src="/temp_land_page/assets/img/Mentor3.jpg" alt="Illustration" style="width: 150px; height: 150px;">
                <div class="Page text-center" style="margin-right: 20px; font-size: 1.8rem;">
                    <p style="font-size: 2rem; font-weight: bold;">Time to Shine!</p>
                </div> 
                <p style="font-size: 1rem;">Membuat kelas online yang dapat bermanfaat untuk</p>
                <p style="font-size: 1rem;">banyak orang & membangun passive income</p>
                <button type="button" class="btn btn-primary btn-sm me-3 rounded-pill" style="background-color: #00B0FF; color: white;" onclick="window.location.href='/apply'">
                    Continue to Apply
                </button>
            </div>
        </div> -->
        <!-- Akhir Project Seven Row-->
    </div>
</section>

<!-- Signup-->
<section class="signup-section" id="signup">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
                <form class="form-signup" id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <!-- Email address input-->
                    <div class="row input-group-newsletter">
                        <div class="col"><input class="form-control" id="emailAddress" type="email" placeholder="Enter email address..." aria-label="Enter email address..." data-sb-validations="required,email" /></div>
                        <div class="col-auto"><button class="btn btn-primary disabled" id="submitButton" type="submit">Notify Me!</button></div>
                    </div>
                    <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:required">An email is required.</div>
                    <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:email">Email is not valid.</div>
                    <!-- Submit success message-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3 mt-2 text-white">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3 mt-2">Error sending message!</div></div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Contact-->
<%- include('../../partials/common/_contact') %>

<!-- Footer-->
<%- include('../../partials/common/_footer') %>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const hiddenContent = document.querySelectorAll('.hidden-content .col-lg-4');
        hiddenContent.forEach((element, index) => {
            if (index >= 3) {
                element.style.display = 'none';
            }
        });
    });

    function showMoreContent() {
        const hiddenContent = document.querySelectorAll('.hidden-content .col-lg-4');
        hiddenContent.forEach(element => {
            element.style.display = 'block';
        });
        const button = document.querySelector('button[onclick="showMoreContent()"]');
        button.style.display = 'none';
    }
</script>

