<div class="container">
    <div class="row">
        <!-- Kolom pertama - Gambar -->
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img src="/temp_land_page/assets/img/Page_Apply.jpg" alt="Image" class="img-fluid rounded" style="height: 100%; width: auto;">
        </div>
        <!-- Kolom kedua - Konten -->
        <div class="col-md-6 d-flex align-items-center">
            <div class="Page ms-4">
                <h2 class="fw-bold">Become a Mentor</h2>
                <p class="fs-5">Mulai berbagi skills dan pengalaman sekaligus menghasilkan sumber income yang baru</p>
                <p class="fs-5">Pendaftaran mentor baru saat ini sedang ditutup, silahkan menunggu beberapa minggu kedepan.</p>
            </div>
        </div>
    </div>
</div>
